.Button-green-off{
    color: #00a74a;
}
.Button-green-on{
    color: #13ff7c;
  
}
.Button-red-off{
    color:#9f0f17;
}
.Button-red-on{
    color:#ff4c4c;
}

.Button-blue-off{
    color: #094a8f;
}

.Button-blue-on{
    color: #1c8cff;
}

.Button-yellow-off{
    color:#cca707;
}

.Button-yellow-on{
    color:#fed93f;
}

.Button-stretch{
    transition: all .3s ease-in;
    display:inline-block;
}

